include ./includes/head.jade

h1= message
div.show
      each val in imgs
            div.file-item
                  img(src="thumb-" + val.filename)
                  a(href=val.filename)= val.filename
                  p= "Desc: " + val.comment
                  p= "By: " + val.sender
                  p= val.time

include ./includes/foot.jade
