include ./includes/head.jade

h1= message
div.show
      each val in imgs
            div.file-item
                  - var fname = "lol"
                  - if(!val.name || val.name == '') { fname = val.filename.replace(/^.*-/,'') } else { fname = val.name }
                  a(href=val.filename)
                        div.title= fname
                        img.thumb(src="thumb-" + val.filename)
                  div.desc= val.comment
                  div
                        if val.uploader
                              span.sender= "by: " + val.uploader
                        br
                        span.time= val.time

include ./includes/foot.jade
